.idea
charts/example
**/infra/**/charts
**/apps/**/charts
**/testlab/**/charts
*secret*.yaml

**/.terraform
output

*.tfstate
*.tfstate.*
**/*.tfplan

**/.DS_Store

*.tfvars
*.tfvars.json

*.lock.hcl

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.qcow2
*.raw

*.cert
*.key

tmp/
tf/users.json
tf/groups.json
tf/bootstrap.ldif
tf/sealed-secrets.cert
tf/sealed-secrets.key