.idea
charts/example
**/infra/**/charts
**/apps/**/charts
**/testlab/**/charts

**/.terraform
output

*.tfstate
*.tfstate.*
**/*.tfplan

**/.DS_Store

*.lock.hcl

tmp/

*/config/certificate

*.cert
*.key
