apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
commonLabels:
  me.kundun: testlab-management
  app.kubernetes.io/managed-by: argocd

resources:
  - project.yaml
  - gollum-app.yaml
